    .merchant-logo {
          display: none !important;
     }
     
     #payment-show {
        width: 50%;
        margin: auto;
    }

    .payment-summary h5{
        margin: 0 !important;
    }

    #card fieldset .control-group:nth-child(1) {
        display: inline-block;
        width: 40%;
    }

    #card fieldset .control-group:nth-child(2) {
        display: inline-block;
        width: 50%;
        float: right;
    }

    .control-group {
        margin-bottom: 0 !important;
    }

    .control-group .controls input {
        height: 30px !important;
    }

    .control-group .controls .btn {
        padding: 6px 12px;
        font-size: 14px;
    }

